.App {
    font-family: sans-serif;
    text-align: center;
  }
  p.heading {
    font-size: 45px;
    font-weight: bold;
    color: purple;
  }
  
  p.question {
    font-size: 30px;
    font-weight: bold;
  }
  button.answer {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    background: purple;
    color: white;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
  .scoreWrapper {
    background-color: rgb(228, 198, 228);
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
  }
  .correct,
  .incorrect {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: purple;
    font-size: 20px;
    margin: 20px;
  }
  .message {
    color: purple;
    font-weight: bold;
  }
  button.startBtn {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
  }
  